<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>会话丢失</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
    <link type="favicon" rel="shortcut icon" href="/static/fav.png" />
</head>
<body class="backgaround_img">
<script>
    alert("会话丢失，请重新登录！");
    window.location.href='http://'+window.location.host+'/hl/';
</script>
</body>
</html>
